.main-card{
    display: flex;
    justify-content: center;
}
.user-details-card {
    width: 35vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: start;
}

.user-details-card h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

.user-details-card p {
    margin-bottom: 8px;
}
.user-website{
    text-decoration: none;
}
.return-btn{
    align-items: end;
    float: right;
}