.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .card-row {
        flex-wrap: wrap;
    }
}

.user-list-heading {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}